.record-wrapper {
    display: flex;
    flex-flow: column;
    max-width: 900px;

    & > button {
        display: flex;
        width: max-content;
        padding: 0.25rem 1rem;
        order: 9000;
    }
}

.record-builder {
    background: #ffffff10;
    padding: 0.5rem;
    margin: 0.5rem 0;

    div {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        margin-bottom: 0.25rem;

        &.record-header {
            display: grid;
            grid-template-columns: auto max-content;

            .record-prebuilt {
                justify-content: space-evenly;
            }

            & > button {
                margin-bottom: 0.25rem;
            }
        }
    }

    label {
        display: block;
        width: 100%;
    }

    select,
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        min-height: 4rem;
    }

    button {
        padding: 0.5rem 0.4rem;
        &.active {
            background: #e8c446;
        }
    }
}
